.img-container {
  width: 50%;
  height: 100vh;
}

.login-image {
  max-width: 100%;
  height: 100vh;
}

.login-form-box {
  width: 50%;
  height: 100%;
  margin-left: 50px;
  margin-top: 200px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

.email-text {
  font-family: "Poppins", sans-serif;
  margin-bottom: 130px;
}

.password-text {
  font-family: "Poppins", sans-serif;
  margin-bottom: 130px;
}

.login-input {
  width: 70%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 20px;
}

.login-input:hover {
  border-color: #cbcbcd;
}

.login-input:focus {
  border-color: #00e676;
  outline: none;
}

.login-submit {
  width: 140px;
  height: 48px;
  background-color: #00b248;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
}

.login-submit:hover {
  background-color: #1ae9aa;
}

.demo-link {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #21ce99;
}

.demo-link:hover {
  color: #1ae9aa;
}

.demo-button {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  border: none;
  color: #21ce99;
  font-size: 15px;
}

.demo-button:hover {
  color: #1ae9aa;
}

.error-list li {
  display: inline;
  padding-right: 6px;
  padding-left: 25px;
}

.error-list .error-text {
  background-image: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/512/alert-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-container {
  display: block;
  height: 70px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.signup-form {
  text-align: center;
}

.signup-content {
  display: flex;
  justify-content: space-around;
}

.signup-form-box {
  width: 40%;
  margin-left: 60px;
}

.signup-header {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.signup-description {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.signup-text-box {
  margin-left: 100px;
}

.name-inputs {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px;
}

.login-link-text {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 5px;
}

.signup-first-name-input {
  width: 42%;
  left: 0px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-first-name-input:hover {
  border-color: #cbcbcd;
}

.signup-first-name-input:focus {
  border-color: #21ce99;
  outline: none;
}

.signup-last-name-input:hover {
  border-color: #cbcbcd;
}

.signup-last-name-input:focus {
  border-color: #21ce99;
  outline: none;
}
.signup-last-name-input {
  width: 42%;
  right: 0px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-email-input:hover {
  border-color: #cbcbcd;
}

.signup-email-input:focus {
  border-color: #21ce99;
  outline: none;
}

.signup-email-input {
  width: 95%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
}

.signup-password-input {
  width: 95%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 17px;
  margin-bottom: 30px;
}

.signup-password-input:hover {
  border-color: #cbcbcd;
}

.signup-password-input:focus {
  border-color: #21ce99;
  outline: none;
}

.session-submit {
  width: 100%;
  height: 48px;
  background-color: #00b248;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.session-submit:hover {
  background-color: #1ae9aa;
}

.signup-visual-box {
  width: 50%;
  margin-top: 160px;
}

.signup-gif {
  width: 400px;
  position: fixed;
  bottom: 0px;
}
