.login-form-container {
  background-color: white;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 0 0 2px #ccc;
  padding: 25vh;
}

.signup-form-container {
  background-color: white;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 0 0 2px #ccc;
  padding: 25vh;
  max-height: 200px;
  z-index: 5;
}

.signup-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  z-index: 5;
}

.signup-input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 10px;
}

.signup-submit {
  width: 200px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 15px;
  background-color: #4caf50;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #087f23;
  }
}

.login-form-container {
  z-index: 5;
}

.login-form {
  font-family: 'Montserrat', san-serif;
  font-size: 20px;
  z-index: 5;
}

.login-input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 30px;
}

.login-submit {
  width: 200px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 15px;
  background-color: #4caf50;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #087f23;
  }
}